body {
    background-color: #333;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 100vh;
}
div {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: gold;
}
.smallcircle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-color: black;
}